;; shadow-cljs configuration
{:source-paths ["src/cljs"]

 :dependencies [[reagent "0.8.1"]
                [re-frame "0.10.5"]
                [day8.re-frame/trace "0.1.19-react16"]
                [re-view/re-frame-simple "0.1.4"]
                [binaryage/devtools "0.9.7"]
                [secretary "1.2.3"]
                ]

 ;; set an nrepl port for connection to a REPL.
 :nrepl {:port 8777}
 :builds {:main {:target :node-script
                 :output-to "resources/main.js"
                 :main electron.core/main}

          :renderer {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "js"

                     :modules {:renderer {:entries [gitegylet.core]}}

                     :compiler-options {:closure-warnings {:global-this :off}
                                        :closure-defines {re-frame.trace.trace-enabled? true}}

                     :devtools {:before-load gitegylet.core/stop
                                :after-load gitegylet.core/start
                                :preloads [devtools.preload
                                           day8.re-frame.trace.preload]}}}}
