body {
  background: #1a1d21;
  color: #ccc;
  font-family: sans-serif;
  user-select: none;
  margin: 0;
}

#flex {
  display: flex;
  flex-flow: row nowrap;
}

.branches {
  flex: 0 0 auto;
  width: 260px;
}

.commits {
  min-width: 525px;
  /* 260 of .branches + 15 for the scrollbar */
  max-width: calc(100% - 285px);
}

.commits ol, .commits li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.commits li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 2em;
}

.commits li::before {
  content: "some label";
  flex: 0 0 max-content;
  white-space: nowrap;
  display: block;
  background: brown;
}

.commits li span {
  padding: 0 0.5em;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
